@charset "UTF-8";
/*
    Em HTML é id em css é #
    em HTML é class em css é.
*/

body {
    background-color: rgb(209, 250, 146);
}
h1 {
    color: rgb(0, 63, 0);
}

#principal {
    text-align: center;
    background-color: green;
    color: white;
    border-radius: 14px;
}

h2 {
    color: rgb(2, 154, 255);
}

.basico {
    color: green;
}

.intermediario {
    color: rgb(150, 150, 0);
}

.avançado {
    color: rgb(129, 0, 0);
}
